/*#textboxshare > textarea {
border:1px solid black;
resize: none;
}

#textboxshare {
}
#textboxshare > * {
float:left;
}
#textboxshare > div:not(#sharesubmit) {
padding:5px 7px;
border:1px solid black;
font-size:12px;
margin: 2px 10px 2px 0px;
cursor:pointer;
}
.cfactive {
font-weight:bold;
}
#sharesubmit{
width:100px;
line-height:2;
background-color:#808080;
color:#ffffff;
margin:5px;
cursor:pointer;
text-align:center;
float:right;
}

#shrdcont {
margin-top:30px;
}

#shentries {
overflow:hidden;
padding-left:10px;
}

#userimg{
float:left;
}

#usercont {
float:left;
width:535px;
padding:5px 10px;
font-size:12px;
text-align:left;
}
*/
.shdusername {
text-align:left;
font-weight:bold;
padding:0px 10px;
font-size:12px;
}
.shdusername > span {
color:#9197A3;
font-weight:normal;
}
#lkandcm1 {
}
#lkandcm1 span {
}
#lkandcm {
}
#shcomment {
background-color:#ffffff;
border:1px solid #CFCFCF;
}

