#aswhole {
position:fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 10;
background-color: rgba(0,0,0,0.5);
overflow:auto;
}
#asForm {
border:1px solid white;
background-color:#ffffff;
margin-top:10%;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
   -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

#ashead {
border-bottom:1px solid #808080;
line-height:3;
padding-left:30px;
font-size:18px;
color: #2C3E50;
}
#ashead span {
font-size: 12px;
float: right;
line-height: 4;
padding-right: 25px;
padding-left: 25px;
border-left: 1px solid #808080;
cursor: pointer;
}
#asfother,#asfother1 {
margin:30px;
overflow:auto;
/*height:450px;*/
position:relative;
}
#allGo {
position:absolute;
bottom:0;
right:0;
margin:15px;
}
/*#goimage {
background-image:url('../images/go.png');
background-repeat:no-repeat;
background-size:78px 78px;
cursor:pointer;
width:80px;
height:80px;
}*/
#smessage {
float:left;padding-left:5px;
padding-right:15px;
margin:10px;line-height:3;
font-size:12px;
color:red;height:30px;
}
#studentslist{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin:6px;
overflow:auto;
height:250px;
border:1px solid #d1c7ac;
}
#studentslist div:not(.spinner) {
width:100px;
height:100px;
cursor:pointer;
float: left;
border:1px solid black;
margin-left:20px;
margin-top:20px;
}
.selected {
background-image:url('../images/accept-icon.png');
background-repeat:no-repeat;
background-size:20px 20px;
background-position: right bottom;
}
