#content {
overflow:hidden;
}
#admin-menu {
float:left;
width:160px;
background-color:#E1E1E1;
margin:20px;
}
#admin-menu span{
display:block;
width:100%;
line-height:3;
font-size:12px;
border-bottom:1px solid white;
cursor:pointer;
}
#admin-menu a{
color: inherit;
text-decoration: none;
}
#grpmenu {
float:left;
/*margin-left:20px;*/
width:200px;
text-align:center;
height:100%;
line-height:3;
cursor:pointer;
}
#grpmenu:hover,.active {
background-color:#ECECEC;
border-bottom:1px solid #39AAD6;
}
#admin-content{
float:left;
margin:20px 20px 20px 20px;
}
