#acontent {
padding:20px;
overflow:hidden;
}
#acontent h2 {
font-size: 18px;
color: #1F2223;
text-align:left;
}
#as_create {
margin-top:10px;
float:left;
width:100%;
border:1px solid #E7E7E7;
border-radius:2px;
}
#as_title,#eas_title {
text-align:left;
padding:10px;
font-weight:bold;
}
#eas_title input,#as_title input {
margin-left:30px;
height:40px;
width:200px;
padding-left:10px;
font-size:18px;
}
#as_title input:hover {
background-color:#F2F2F2;
cursor:pointer;
}
#eas_title input:hover {
background-color:#F2F2F2;
cursor:pointer;
}
#as_date,#eas_date{
text-align:left;
padding:10px;
font-size:12px;
font-weight:bold;
}
#as_date span{
padding-left:10px;
}
#eas_date span{
padding-left:10px;
}
.dterr,.edterr {
color:red;
}
#as_description,#eas_description {
border:1px solid #808080;
margin:0px 10px 10px 10px;
height:100px;
padding:10px;
overflow:auto;
font-size:12px;
}
#wdesp,#ewdesp {
text-align:left;
padding:10px;
}
#wdesp span {
font-weight:bold;
}
#ewdesp span {
font-weight:bold;
}

#edesp_buttons,#desp_buttons {
border-top:1px solid #808080;
border-left:1px solid #808080;
border-right:1px solid #808080;
background-color:#F1F1F1;
margin:10px 10px 0px 10px;
height:22px;
overflow:hidden;
padding:4px;
}
.chtext,.echtext{
text-align:center;
float:left;
border:1px solid #F1F1F1;
width:20px;
height:20px;
cursor:pointer;
margin-right:4px;
font-weight:bold;
color:#3E3E3E;
}
.chtext:hover{
border:1px solid #49C0FF;
background-color: #CFEFFF;
}
.echtext:hover{
border:1px solid #49C0FF;
background-color: #CFEFFF;
}
#as_attachment:not(.selgrpy){
overflow:hidden;
text-align:left;
padding-bottom:10px;
padding-right:10px;
font-weight:bold;
}
#eas_attachment:not(.selgrpy){
overflow:hidden;
text-align:left;
padding-bottom:10px;
padding-right:10px;
font-weight:bold;
}

#as_attachment div {
margin-left:10px;
width:230px;
float:left;
}
#as_attachment img {
padding-left:50px;
padding-top:10px;
cursor:pointer;
}
#eas_attachment div {
margin-left:10px;
width:230px;
float:left;
}
#eas_attachment img {
padding-left:50px;
padding-top:10px;
cursor:pointer;
}

.uploadfile,.euploadfile{
font-size:12px;
color:red;
text-align:center;
}
#grpselected,#egrpselected {
margin-left:10px;
height:30px;
width:150px;
padding-left:10px;
font-size:12px;
}
#selectlistgrp,#eselectlistgrp {
position:absolute;
z-index:90;
}
.selgrpy{
cursor:pointer;
}
#as_submit,#eas_submit{
margin:10px;
}
