#at_headtext{
font-size:12px;
text-align:left;
}
#at_changeweek {
overflow:hidden;
}
/*#at_left,#at_right,#at_weekcount {
float:right;
border:1px solid black;
line-height:2;
padding:0px 15px;
}
#at_left {
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
cursor:pointer;
}
#at_right {
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
cursor:pointer;
}*/
#at_datedisp {
overflow:hidden;
}
#at_day{
float:left;
text-align:center;
border:1px solid #E7E7E7;
font-size:12px;
width:70px;
margin:10px 0px 10px 10px;
}
#at_day span {
font-weight:bold;
line-height:2;
}
#at_attendisp {
overflow:hidden;
}
#at_atten {
float:left;
text-align:center;
line-height:2;
width:70px;
margin:0px 0px 10px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border:1px solid #E7E7E7;
}
#at_atten span {
font-size:12px;
}
#at_fn,#at_an {
border:0px solid black;
height:40px;
cursor:pointer;
}
#at_fn{
border-bottom:1px solid #E1E1E1;
}
#at_fn:hover,#at_an:hover{
background-color:#E1E1E1;
}
#at_group_students {
border:0px solid black;
} 
#stu_att_detail {
overflow:hidden;
}
#at_stu_name {
float:left;
}
#at_stu_atten {
float:left;
}
#at_weekcount {
cursor:pointer;
}
#att_mark_child {
border:1px solid black;
}

