.classes {
	text-decoration:none;
	color:#333;
}
#selectedBlock img,.selectedBlock2 img{
margin: auto auto;
align:center;
margin-top:20px;
margin-bottom:20px;
}
#selectedBlock, .selectedBlock2{
cursor:pointer;
border: 1px solid #DDD;
margin-left:15px;
margin-bottom: 30px;
background-color: #FFF;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
height: 200px;
box-sizing: border-box;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
text-align: center;
font-weight: normal;
font-style: normal;
letter-spacing: 0px;
font-size: 14px;
line-height: 1.42857;
color: #333;
float:left;
width:150px;
   -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}
#selectedBlock span{
position:absolute;
border:0px solid black;
margin-top:-10px;
margin-left:130px;
width:20px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
z-index:60;
background-color:#D0D0D0;
color:#ffffff;
}
#cblock{
//background-image:url('../images/Untitled.png');
//background-size: 100px 100px;
font-size:50px;
text-align:center;
cursor: pointer;
color: #B7B5B5;
line-height:1.9;
border:4px solid #B7B5B5;
width:100px;
height:100px;
float:left;
margin:30px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
   -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

