#addct,.gencode{
border: 0px;
background-color:#ECECEC;
height:30px;
padding:5px;
cursor:pointer;
}
#addct:hover,.gencode:hover  {
border: 1px solid #39AAD6;
}
.keyhead{
line-height:2;
font-size:14px;
font-weight:bold;
}
.keyhead td{
border-top:1px solid black;
}
#disp-tabl td {
border-left:1px solid black;
border-bottom:1px solid black;
}

#cgwhole,#dswhole{
position:fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 10;
background-color: rgba(0,0,0,0.5);
overflow:auto;
}
#cgform,#dsform{
border:1px solid white;
background-color:#ffffff;
margin-top:100px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
   -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;

}
#cghead,#dshead {
border-bottom:1px solid #808080;
line-height:3;
padding-left:30px;
font-size:18px;
color: #2C3E50;
}
#cghead span,#dshead span {
font-size: 12px;
float: right;
line-height: 4;
padding-right: 25px;
padding-left: 25px;
border-left: 1px solid #808080;
cursor: pointer;
}
.as_classes,.as_sections{
border:1px solid #DDDDDD;
border-radius: 2px;
width:120px;
padding:2px 5px;
cursor:pointer;
margin:5px;
}
.as_classes span{
float:right;
}
.full-section-list{

}
