#aw_total {
position:fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 10;
background-color: rgba(0,0,0,0.5);
}
#aw_form{
z-index:50;
overflow:hidden;
border:1px solid white;
background-color:#ffffff;
margin-top:100px;
margin-right: auto;
margin-left: auto;
width:700px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
   -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}
#aw_head{
float:left;
margin: 0px;
line-height: 2.42857;
font-size: 24px;
font-weight: 500;
font-style: normal;
letter-spacing: 0px;
padding-left:20px;
width:600px;
}
#aw_close{
float:right;
width:70px;
font-size: 24px;
font-weight: 500;
font-style: normal;
letter-spacing: 0px;
line-height: 2.42857;
text-align:center;
cursor:pointer;
}
#aw_close:hover{
background-color:#F4F4F4;
}
#aw_block{
float:left;
width:100%;
}
#aw_selection {
overflow:hidden;
margin:28px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border:1px solid black;
}
#aw_selection > div {
line-height:2.1;
text-align:center;
cursor:pointer;
}
#aw_positive {
float:left;
background-color:#268200;
width:321px;
color:#ffffff;
}
#aw_negative {
float:right;
width:320px;
}
.neg {
display:none;
}

.pos,.neg{
float:left;
margin-left:28px;
margin-bottom:28px;
width:150px;
height:150px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
cursor:pointer;
text-align:center;
}
.pos:hover, .neg:hover {
background-color:#f4f4f4;
}
