#lpfwhole,#aeuserwhole {
position:absolute;
top: 0;
left: 0;
height: 1000px;
width: 100%;
z-index: 10;
background-color: rgba(0,0,0,0.5);
overflow:auto;
}
#lpfForm,#aeuserform {
border:1px solid white;
background-color:#ffffff;
margin-top:100px;
padding-bottom:30px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
   -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}
#lpfhead,#aeuserhead {
border-bottom:1px solid #808080;
line-height:3;
padding-left:30px;
font-size:18px;
color: #2C3E50;
}
#lpfhead span,
#aeuserhead span {
font-size:12px;
float:right;
line-height:4;
padding-right:25px;
padding-left:25px;
border-left:1px solid #808080;
cursor:pointer;
}

#lpfinput,
#aeuserinput {
padding-left:20px;
}
/*#lpfinput input,#lpfinput select {
line-height:2;
font-size:18px;
padding-left:15px;
padding-right:15px;
margin:10px;
background-repeat:repeat-x;
border:1px solid #d1c7ac;
height:30px;
width: 230px;
color:#333333;
padding:3px;
margin-right:4px;
margin-bottom:8px;
font-family:tahoma, arial, sans-serif;
font-size:13px;

}*/
