#nav-container {
overflow:hidden;
padding:5px;
}
#nav-report,#nav-addedit,#nav-calrank,#nav-swreport {
float:left;
margin-right:20px;
cursor:pointer;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border:1px solid #d1c7ac;
color:#505050;
padding:10px 5px;
font-size:12px;
}

/*#loadreportcontainer {
width:670px;
margin:5px;
}
#gp_stuhead {
border:1px solid white;
height:40px;
width:90%;
float:left;
margin-left:10px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
overflow:hidden;
font-size:14px;
}
#gp_stuhead div{
float:left;
height:100%;
line-height:2.5;
}*/
.gp_stuname {
float:left;
padding-left:10px;
font-weight:bold;
}
#gp_photo{
background-color:white;
float:left;
margin-right:10px;
}/*
#gp_outofmark {
float:left;
height:100%;
width:100px;
text-align:left;
}
#gp_slash{
float:left;
height:100%;
width:10px;
text-align:center;
}
#gp_mark,.outofmark{
border-left:1px solid #808080;*//*
width:95px;
float:left;
height:100%;
text-align:right;
}
#gp_student {
border-left:1px solid white;
border-bottom:1px solid white;
border-right:1px solid white;
height:60px;
width:100%;
float:left;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
overflow:hidden;
font-size:14px;
background-color:#E1E1E1;
}
#gp_student div {
line-height:3;
}
#gp_student .gp_stuname {
cursor:pointer;
} 
#gp_student .gp_stuname:hover {
text-decoration:underline;
color:#18BC9C;
}*/

