#Message{
text-align: center;
color: red;
font-size:12px;
}
.login,.reg-submitFile{
padding-top:10px;
color:#ffffff;
text-align: center;
margin:10px;
height:35px;
border: 0;
width:100px;
background-color: #18BC9C;
line-height: 1.33;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
    cursor:pointer;
outline: none;
-moz-outline: none;
-webkit-outline: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.login:hover,
.reg-submitFile:hover {
background-color:#18A689;
}
.new-register{
font-size:12px;
color:#2C3E50;
cursor:pointer;
}
.new-register:hover{
text-decoration:underline;
}
#new-registe {
cursor:pointer;
}
#new-registe: hover {
text-decoration: underline;
}
.register-whole {
position:fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 5000;
background-color: rgba(0,0,0,0.5);
overflow: auto;
}
#register-Form {
border:1px solid white;
background-color:#ffffff;
top:25%;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
   -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
padding:0px;
}
#register-head {
background-color:#616161;
line-height:3;
font-size:18px;
padding-left:20px;
color:#FFF;
}
#register-head span {
font-size:12px;
float:right;
line-height:4;
padding-right:25px;
padding-left:25px;
border-left:0px solid #808080;
cursor:pointer;
}

#register-input-student,
#register-input-teacher,
#register-input-parent,
#register-input {
margin:20px;
}
