#logout {
width:120px;
padding-top:10px;
color:#ffffff;
text-align: center;
margin:20px 10px 10px 10px;
font-size:15px;
height:35px;
background-color: #18BC9C;
line-height: 1.33;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
cursor:pointer;
outline: none;
-moz-outline: none;
-webkit-outline: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

#logout:hover {
background-color:#18A689;
}

