#message{
text-align:center;
font-weight:bold;
color:#BDBDBD;
margin-top:100px;
}
#init_exams {
cursor:pointer;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border:1px solid #d1c7ac;
margin:5px;
width:295px;
text-align:right;
padding:5px;
font-size:13px;
}
#init_exams img{
margin:auto;
}
#exam-value {
width:115px;
float:left;
height:20px;
color:#505050;
padding-top:5px;
text-align:left;
padding-left:5px;
}
#exam_dropdown {
width:200px;
}
#exam_dropdown > div {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border:1px solid #d1c7ac;
padding-left:5px;
display:none;
}
#reportcontent {
display:block;
}
