#lrcontent{
overflow:hidden;
}
#lr-first{
float:left;
padding:20px;
}
#lr-first span{
display:block;
}
#lr-second {
float:left;
padding:20px;
}
#lr-third {
width:600px;
float:left;
}
#lr-third span {
display:block;
}
#lr-forth {
width:600px;
float:left;
}
