#gp_stuhead {
border:1px solid white;
height:40px;
width:90%;
margin-left:10px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
overflow:hidden;
font-size:14px;
}
#gp_stuhead div{
float:left;
height:100%;
line-height:2.5;
}
.gp_stuname {
width:190px;
border:0px solid black;
text-align:left;
padding-left:10px;
font-weight:bold;
}
/*.gp_stupos,.gp_stuneg {
border-left:1px solid #808080;
width:95px;
float:left;
height:100%;
}*/
#gp_photo{
float:left;
}
#gp_rank,#gp_grade{
/*border-left:1px solid #808080;*/
width:95px;
height:100%;
}
#gp_student {
border-left:1px solid #E1E1E1;
border-bottom:1px solid #E1E1E1;
border-right:1px solid #E1E1E1;
height:60px;
width:90%;
margin-left:10px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
overflow:hidden;
font-size:14px;
background-color:#E1E1E1;
}
#gp_student td {
background-color:#E1E1E1;
border: 1px solid #e1e1e1;
}
#gp_student .gp_stuname {
cursor:pointer;
} 
#gp_student .gp_stuname:hover,
#gp_rank:hover {
text-decoration:underline;
color:#18BC9C;
}
#grp_selection {
}
#atten_choose {
margin-left:10px;
float:left;
text-align:left;
width:220px;
font-size:12px;
}
#grp_choose span {
color:blue;
cursor:pointer;
}
#grp_choose span:hover {
text-decoration:underline;
}
#atten_choose span {
color:blue;
cursor:pointer;
width:120px;
float:right;
}
#atten_choose span:hover {
text-decoration:underline;
}
#mulaward,#saveatten {
margin-right:50px;
}
#mulcancel,#attencancel {
margin-right:10px;
}
#aw_pos,#aw_neg {
margin-right:10px;
}
#mulaward,#attencancel{
float:right;
font-size:12px;
border:1px solid #808080;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
line-height:2;
width:50px;
text-align:center;
cursor:pointer;
}
#mulselector {
float:left;
}
#grpaward {
}
#saveatten {
float:right;
font-size:12px;
border:1px solid #808080;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
line-height:2;
width:100px;
text-align:center;
cursor:pointer;
}
.gp_pos,.gp_neg {
text-align:center;
cursor:pointer;
}
#sel_pos,#sel_neg {
border:1px solid black;
position:absolute;
z-index:60;
width:100px;
height:50px;
background-color:#ffffff;
overflow:hidden;
padding:5px;
}
#sel_pos > div,#sel_neg > div{
border:1px solid black;
width:30px;
float:left;
}
