
@media(min-width:768px) {

/* this is use to create portion for menu ie. layout */

    
.sidebar-nav > li {

overflow: hidden;

}

    #wrapper {
        padding-left: 250px; 

    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
  
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

 

#sidebar-wrapper {
    z-index: 10;
    position: fixed;
    left:0px;
    width: 250px;
    min-height: 100%;
    overflow-y: auto;
    background-color: #493d55;
    top:50px;
   
}

.sidebar-nav {
    font-family: "Lato";
    position: absolute;
    top: 0px;  /* recently changed */
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ccc;
}

.sidebar-nav li a  .left{
    float:left
;    position: relative;
    top:15px;
}

.sidebar-nav li a  .right{
    float:right;
    position: relative;
    top:16px;
    right:20px;
    font-size:0.6em;
}

.sidebar-nav li > a:hover {
    text-decoration: none;
    color: #fff;
    /*
    background: rgba(255,255,255,0.7);
    */
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #26202c;
}
.clickstay{
    text-decoration: none;
 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #26202c;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}





/* inner menu */
.innermenu{
    padding: 0 1em;
    list-style: none;
  background: #332b3b;
}

.innermenu li{
 
    position: relative;
    padding: 0px;
    margin:0px;
    color: #aaa;
font-size:.8em;
height: 35px;


}
.innermenu li:hover  .fa-caret-right
{
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:green;
}
.innermenu li:hover span a
{ -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:green;
}

.innermenu li span a{
    position: relative;
    left:-16px;
}
.innermenu li .fa-caret-right{
float:left;
position: relative;
left:-10px;
margin-top:15px;
}

.dropdown-container{
display: none;

}







.logo{

}

.logo > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    padding-left: 20px;
}

.logo > .sidebar-brand a {
    color: #fff;
}

.logo > .sidebar-brand a:hover {
    color: #fff;
    background: none;

}

.logo > .sidebar-brand a:hover  .logo > .sidebar-brand a span{
    color: #fff;
    background: none;

  
}





.logo{

    width:250px;
    z-index: 100000000000000000;
    position: fixed;
    top:0px;
    height:50px;
    font-size:1em;
    background-color: #493d55;
    color:white;
}

.motto{
color: #999;
text-decoration: none; 
    font-size:0.6em;


}

.motto:hover{

}
.navi{
    content:"";
    position: relative;
    top:-7px;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    width: 200px;

    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
}

/*
.level1{



}
.level1:after{
   background: black;
}

*/



.but{
     width: 220px;
  height: 120px;
  background: #222;
  color: #fff;
  text-align: center;
  line-height: 120px;
  font-size: 40px;
}


/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }

}
.note1{
    color:white;
    background:#5cb85c;
    padding:2px 2px 2px 2px;
    border-radius: 3px 3px 3px 3px;
    display: inline;
    float: right;
    height: 13px;
    

    width:70px;
    clear:both;
    margin-right: 5px;
    line-height:6px ;
    font-size:0.7em;
    text-indent: 2px;

}
.mp span {

   font-size:0.8em;
    color:#666666;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;


}
.mp span:hover{
padding-left: 10px;
cursor: pointer;
color:#aaa;
}

li.a{
    z-index: 200;
}







    }



