/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
a{
outline: medium none !important;
}

#grpmcontent > div{
background-color: #FFFFFF !important;
padding-top: 25px;
}

#wrapper {

    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper.toggled {


  }

/* Sidebar Styles */

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}





a{
  color:white;
  text-decoration: none;
}
.sidebar-brand a{
  font-family: 'Poiret One', cursive;
  font-size: 1.2em;
}
/*  Ripple */
/*
.ripple {

  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    -webkit-animation: rippleDrop .6s linear;
            animation: rippleDrop .6s linear;
}

@-webkit-keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
*/




/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    50%   {background-color: #493d55;}
   
    100% {background-color: green;}

    0% {background-color: orange;}
}

/* Standard syntax */
@keyframes example {
    50%   {background-color: #493d55;}
   
    100% {background-color: green;}

    0% {background-color: orange;}
}




.ripple{

    z-index: 500000000000000000000000000000000000000000000000000;
}

.fa-expand{
cursor: pointer;
}

.fa-expand:hover{
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:green;
}

.container1 {
  width: 300px; 
  height: 400px; 
 overflow-y:scroll;
}

/* top menu */
/* top header code */

.topheader
{
 z-index: 100000000000000000000000000;
    position: fixed;
    left:250px;
    right:0px;
    top:0px;
   height: 50px;
   background-color: #4c4059;
 

}


/************************************************** media query for mobile version **********************************************************/ 
@media(min-width:168px) and (max-width: 767px) {


.ag-ct-userpop{ left: -120px;
}

/* top header section */




.head-menu-ul{
float: right;
margin-top:10px;

padding:0px;

}
.head-menu-ul li > .round{
position: absolute;
top:0px !important;
left: 0px;
height: 15px !important;
width: 15px !important;
line-height: 17px;
text-align: center;
}
.head-menu-ul li
{
    position: relative;
    cursor: pointer;
font-size: 1em;
float: left;
padding-left: 7px;
list-style: none;
line-height: 28px;

  height: 30px;
  text-align: center;
  padding-right: 10px;
  color:black;
/*
 -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
*/

 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.head-menu-ul li i:hover{


}

.iconmap i{
    line-height: 30px;
    color:#ddd;
    font-size:1em;
   
  
    height: 100%;
    position: relative;
}

.head-menu-ul li.iconmap:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
 color:red;  
}

li.iconmap i:hover {
 
 color:#fff;  
}

.userd a{
    text-decoration: none;
    color:#aaa;
  -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    }

.userd a:hover{
color:white;
     
}
.head-menu-ul li:last-child{
   padding-right:5px;
   color:#aaa !important;
   font-size:0.7em !important;
  display: none;
    
   padding-left: 0px !important;
    
}

.head-menu-ul  li:first-child
{ 
    line-height: 25px;
   

}


.head-menu-ul-left{

    list-style: none;
    display: inline;



}

.head-menu-ul-left li{
    padding: 10px;
    height: 50px;
    position: relative;
    line-height: 0px;
float: left;
border-right: 1px solid #4d4d4d;
}


 .outdentmenu{
 display:none;
 }
}
/************************************************** end media query for mobile version **********************************************************/ 


/**************************************************  media query for min-width 768px  **********************************************************/ 

@media(min-width:768px) {

 .outdentmenu{
 display:inline;
 }
.ag-ct-userpop{
      left: -20px;
}

.head-menu-ul{
float: right;
margin-top:10px;

}
.head-menu-ul li > .round{
position: absolute;
top:0px !important;
left: 7px;
height: 18px !important;
width: 18px !important;
line-height: 17px;
text-align: center;
}
.head-menu-ul li
{
    position: relative;
    cursor: pointer;
font-size: 1em;
float: left;
padding-left: 18px;
list-style: none;
line-height: 28px;

  height: 30px;
  text-align: center;
  padding-right: 10px;
  color:black;
/*
 -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
*/

 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.head-menu-ul li i:hover{


}

.iconmap i{
    line-height: 30px;
    color:#ddd;
    font-size:1.2em;
   
  
    height: 100%;
    position: relative;
}

.head-menu-ul li.iconmap:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
 color:red;  
}

li.iconmap i:hover {
 
 color:#fff;  
}

.userd a{
    text-decoration: none;
    color:#aaa;
  -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    }

.userd a:hover{
color:white;
     
}
.head-menu-ul li:last-child{
   padding-right:20px;
   color:#aaa !important;
   font-size:0.7em !important;
 
   padding-left: 0px !important;
     
    
}

.head-menu-ul  li:first-child
{ 
    line-height: 25px;
   

}


.head-menu-ul-left{

    list-style: none;
    display: inline;



}

.head-menu-ul-left li{
    padding: 10px;
    height: 50px;
    position: relative;
    line-height: 0px;
float: left;
border-right: 1px solid #4d4d4d;
}

}

/**************************************************  end media query for min-width 768px  **********************************************************/ 








 .menudent{
   color:#aaa;
   position: relative;
   top:10px;
   
}
.menudent:hover{

    color:#fff;
    cursor: pointer;
}
/* user account */

#useraccount{

    position: absolute;
    min-height: 100px;
    min-width: 100px;
    background: white;
    color:black;
    right:-100px;
    top:30px;
    border:1px solid #eee;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none;
}
.userd:hover #useraccount{
display: block;
right:0px;
}

.round {
        display: inline-block;
    position: absolute;
    left:10px;
    top:5px; 
    z-index: 9999999999999999999999999999;      
    }

    .round.hollow {
        line-height: 30px;
        background-color: #FFF;    
        color: #222;
        text-align: center;        
    }



.round.round-sm 
    {
    height: 18px;
    width: 18px;
    line-height: 18px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
    text-indent: -3px;
}

.round.green { 
}

.round.hollow.green {
  background-color: #e05d6f !important;
color: #fff !important; 
   
}


/* user setting starts */

.ag-ct-userpop{
  height: 200px;
  width: 200px;
  background:#fff;
  text-align: center;
  font-size: 20px;
  position: absolute;

display: none;
  top:40px;
 
-webkit-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.41);
-moz-box-shadow:    1px 1px 8px 0px rgba(50, 50, 50, 0.41);
box-shadow:         1px 1px 8px 0px rgba(50, 50, 50, 0.41);

}

.ag-ct-userpop ul 
{
  padding: 0px;
border: 1px solid red;
}

.ag-ct-userpop ul li{
position: relative !important;
border-bottom: 1px solid #eee!important;
padding-top: 2px!important;
display: block!important;
left: 0px!important;
width: 100%!important;
text-align: left!important;
text-indent: 3px!important;
font-size:0.6em!important;
color:#000!important;
}
.ag-ct-userpop ul li:hover
{
  background-color: #ccc;
}
.ag-ct-userpop ul li:last-child{
position: relative !important;
border-bottom: 1px solid #eee!important;
padding-top: 2px!important;
display: block!important;
left: 0px!important;
width: 100%!important;
text-align: left!important;
text-indent: 12px!important;
font-size:0.6em!important;
color:#000!important;
}


/* ### ### ### 05 */



.buttonlogout{
  position: absolute;
  top:165px;

  right: 35px;
}

.fontsizetoggler{
  font-size: 1.1em;
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    width: 150px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}



.b05_3d_roll {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}

.b05_3d_roll div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: #000000 solid 1px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b05_3d_roll div:nth-child(1) {
    color: #000000;
    background-color: #000000;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll div:nth-child(2) {
    color: #000000;
    background-color: #ffffff;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll:hover div:nth-child(1) {
    color: #ffffff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.b05_3d_roll:hover div:nth-child(2) {
    background-color: #000000;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}




.ag-ct-userpop ul li i{

  padding-right: 5px;
}

/* logout button end */
/* content */
   #page-content-wrapper {
        padding: 20px;
        position: relative;
          background: #E7EAEB !important;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

#page-content-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 15px 5px 15px 10px;    
}

.pageheader{
  font-family: 'Poiret One', cursive;
}

.pageheader .hd-maintitle{
  color:#493D55;
   font-weight: 550;
}

.pageheader .hd-maintitle .hd-subtitle{

  color:#aaa;
  font-size: 0.6em;
   font-weight: 400;

}

.menunav-bar{
padding:0;
margin: 0;
background: white !important;
height: 35px;
}

.menunav-bar ul{
list-style: none;

  padding: 0px;
}
.menunav-bar ul li:first-child{
  background: red;
    padding: 7px 55px 7px 10px !important;

}
.menunav-bar ul li{
 cursor: pointer;
  float: left;
  padding: 7px 5px 7px 5px;
}

.menunav-bar ul li:not(:first-of-type):before{

  content: '\2713';
  font-size: 15px;

}
/* search bar */

.searchbar{
  position: absolute;
  top: 50px;
  z-index: 99999999999999999888888888888888888888888888888888888888888888;
  height: 40px;
  width: 500px;
  background: #eee;
  border: 1px solid #fff;
  left: 38px;
    font-family: 'Poiret One', cursive;
    display: none;
-webkit-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.41);
-moz-box-shadow:    1px 1px 8px 0px rgba(50, 50, 50, 0.41);
box-shadow:         1px 1px 8px 0px rgba(50, 50, 50, 0.41);
}

.searchbar i{

  position: relative;
  top: 8px;
  left: 10px;
  }

  input[type="text"]
{
    border: 0;
    border-bottom: 1px solid red;
    outline: 0;
    position: relative;
    left: 100px;
    top: -13px;
    background: none;
  }
  /* css for class feed */


  .widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload form {
float: left;
width: 100%;
}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;

}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}
 
.hiddenpic {
     display:none;
     border:1px solid #F2F2F2;
      color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.1);
    height: 500px;
} 

.hiddenpic > .topleft{
}









@media(min-width:768px) and (max-width:1067px ){
/* top right menu layout */
.col-sm-1,.col-sm-10{
padding:0px 10px 10px 0px;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  top:11px;left:-6px;
  }
}
@media(min-width:1268px) {
/* top right menu layout */
.col-sm-1,.col-sm-10{
padding:0px 20px 20px 20px;
}

.panel>.panel-heading:after,.panel>.panel-heading:before{
  top:11px;left:-16px;
  }
}
@media(min-width:1068px) and (max-width:1267px ){
/* top right menu layout */
.col-sm-1,.col-sm-10{
padding:0px 15px 10px 0px;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  top:11px;left:-10px;
  }
}





















.thumbnail {
    padding:0px;
border:none !important;

margin: 0px;
  background: none;
  top:0px;
    min-height:30px; 
  min-width:30px;
  /*
  max-width: 50px;
  max-height: 50px;

*/
}
.thumbnail
.panel {
  position:relative;

}





.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}

.commentpanelheading{
  background-color: #fff !important;
}
.text-muted{

  font-size: 0.8em;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#000;
  margin-top:1px;
  margin-left:2px;

}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}


.statuslayout{
background-color: #fff;
float: left;
padding: 25px 30px;
position: relative;
width: 100%;


} 
.statuscontent{
  font-size: 0.9em;
}


.postedtime{
  float: right;
  font-size: 0.8em;
}
.btn-circle {
    font-weight: bold;
    font-size: 0.6em;
    padding: 6px 15px;
    border-radius: 0px;
}
.btn-circle span { padding-right: 6px; }

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }

 .reply{
  display:none;
 }
 .video-comment{
  margin-top: 20px;
 }







/*@media (min-width: 300px) and (max-width:767px) 
{
*/
/* menu media query for mobile version */
@media(min-width:100px) and (max-width:767px ){



    /* this is use to create portion for menu ie. layout */

    #wrapper {
        padding-left: 80px !important;
       
       }

    #wrapper.toggled {
        padding-left: 80px !important;
    }


    #wrapper.toggled #sidebar-wrapper {
        width: 80px !important;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 80px !important;
    }




   #sidebar-wrapper {
    z-index: 10;
    position: fixed;

    /*
    left: 230px;
       margin-left: -230px;
    */
    left:0px;
    width: 80px;
    min-height: 100%;
    background-color: #493d55;
    top:50px;
    display: block !important;


    /*
      overflow-x: visible;
    overflow-y: auto;
    direction:rtl;
        overflow-y: auto;
        *****************
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #493d55;
    #wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

    */
}




.sidebar-nav {
    width: 80px;
    font-family: "Lato";
    bottom: 0px;

overflow-y:auto;
    top: 0px;  /* recently changed */
    /* added new */
bottom: 0px;
/* don't remove these */
height:100vh;
min-height:100vh;

    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10000000000000000000000000000000000000000000000000000;
}


.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
     
  position: static;
}


.sidebar-nav li a.a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    position: relative;
    left: 0px;
    width: 100%;
    height: 70px;
}


.sidebar-nav li a  .headtextmenu{
color:white;
position: relative;
left: -10px;
z-index: 100000000000000000000;
display: block;
top:3px;
font-size: 0.7em;

}

 .left{
display: block;
font-size: 2em; 
color:#ccc;
position: relative;
left: -10px;
 top:15px;

}



.sidebar-nav li a  .right{
   
     display: none;
}

.sidebar-nav li:hover   {
    text-decoration: none;
    
    /*
    background: rgba(255,255,255,0.7);
     background-color: #26202c;
    */

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #40364a;



    
}

.sidebar-nav li i.left
{
color:#aaa;
font-size: 1.5em;
}
.sidebar-nav li:hover i.left{
    color:white;
}



.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}







/* inner menu   */
.dropdown{


}

.dropdown-container
{
    position: absolute;
  z-index: 150000000000000000000000000000000000000000000000000000000000000000000;
  display: none !important;

    left:300px;
  }
.sidebar-nav li:hover .dropdown-container
{
     display: block !important;
}

.innermenu{
    margin-top: 20px;
    padding: 0 1em;
    list-style: none;
    background:  #40364a;
    left: 90px;
    z-index: 1000000000000000000000000000000000000;


}

.innermenu li{
   
    padding: 0px;
    margin:3px 0px 3px 0px;
    color: #aaa;
    font-size:.8em;
    height: 35px;

}


.innermenu li span a
{
    color:#aaa;
        letter-spacing:0.5px;
    

}

.innermenu li:last-child
{
 height: 45px;
}



.innermenu li:hover  .fa-caret-right
{
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:green;
}

.innermenu li:hover span a
{ -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    color:green;
    text-decoration: none;

}

.innermenu li span a{
    position: relative;
    left:-16px;
}
.innermenu li .fa-caret-right{
float:left;

position: relative;
left:-10px;
margin-top:20px;

}

    


/* list1 */
.list1, .list2, .list3, .list4{
position: absolute;
left:70px !important;
top:-21px;
height:100vh;
min-height:100vh;
overflow-y:auto;
display: none;
width: 200px;
font-size: 1em;
}
/* list2 
.sidebar-nav li:hover .list1{
    display: block !important; 


}



.sidebar-nav li:hover .list2{
     display: block !important; 
}

.sidebar-nav li:hover .list3{
 display: block !important; 
}
.sidebar-nav li:hover .list4{
   display: block !important; 
}

*/




#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
}




.logo{

}

.logo > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    padding-left: 20px;
  
}

.logo > .sidebar-brand a {
    color: #fff;
}

.logo > .sidebar-brand a:hover {
    color: #fff;
    background: none;

}

.logo > .sidebar-brand a:hover  .logo > .sidebar-brand a span{
    color: #fff;
    background: none;

  
}





.logo{

    width:250px;
    z-index: 100000000000000000;
    position: fixed;
    top:0px;
    height:50px;
    font-size:1em;
    background-color: #493d55;
    color:white;
   
}

.motto{
color: #999;
text-decoration: none; 
    font-size:0.6em;


}

.motto:hover{

}
.navi{
   display: none;

}

.mp
{
    display: none;
}




/*  Ripple */

.ripple {
    display: none;
}

.rippleEffect {
    display: none;
}

.sidebar-nav > .sidebar-brand {
    display: none;

}



.note1{
    display: none;
}
.contentarea, #content, #tcontent > nav > div{
background: #E7EAEB !important;
}
