
@media(min-width:768px) {

/* this is use to create portion for menu ie. layout */

    #wrapper {
        padding-left: 80px; 
       }

    #wrapper.toggled {
        padding-left: 80px !important;
    }


    #wrapper.toggled #sidebar-wrapper {
        width: 80px !important;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }





#sidebar-wrapper {
    z-index: 10;
    position: fixed;

    /*
    left: 230px;
       margin-left: -230px;
    */
    left:0px;
    width: 80px;
    min-height: 100%;
    background-color: #493d55;
    top:50px;


    /*
      overflow-x: visible;
    overflow-y: auto;
    direction:rtl;
        overflow-y: auto;
        *****************
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #493d55;
    #wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

    */
}



/*

.track3 {
    width: 10px !important;
    background: rgba(0, 0, 0, 0) !important;
    margin-right: 2px !important;
    border-radius: 10px !important;
    -webkit-transition: background 250ms linear !important;
    transition: background 250ms linear !important; 
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9 !important;
    background: rgba(0, 0, 0, 1) !important;
}

.handle3 {
    width: 7px !important;
    right: 0 !important;
    background: #999 !important;
    background: rgba(0, 0, 0, 0.4) !important;
    border-radius: 7px !important;
    -webkit-transition: width 250ms !important;
    transition: width 250ms !important;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px !important;;
}

*/
.sidebar-nav {
    width: 80px;
    font-family: "Lato";
    bottom: 0px;

overflow-y:auto;
    top: 0px;  /* recently changed */
    /* added new */
bottom: 0px;
/* don't remove these */
height:100vh;
min-height:100vh;

    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10000000000000000000000000000000000000000000000000000;
}


.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
     
  position: static;
}


.sidebar-nav li a.a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    position: relative;
    left: 0px;
    width: 100%;
    height: 70px;
}


.sidebar-nav li a  .headtextmenu{
color:white;
position: relative;
left: -10px;
z-index: 100000000000000000000;
display: block;
top:3px;
font-size: 0.7em;

}

 .left{
display: block;
font-size: 2em; 
color:#ccc;
position: relative;
left: -10px;
 top:15px;

}



.sidebar-nav li a  .right{
   
     display: none;
}

.sidebar-nav li:hover   {
    text-decoration: none;
    
    /*
    background: rgba(255,255,255,0.7);
     background-color: #26202c;
    */

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #40364a;



    
}

.sidebar-nav li i.left
{
color:#aaa;
font-size: 1.5em;
}
.sidebar-nav li:hover i.left{
    color:white;
}



.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}







/* inner menu   */
.dropdown{


}

.dropdown-container
{
    position: absolute;
  z-index: 150000000000000000000000000000000000000000000000000000000000000000000;
  display: none !important;

    left:300px;
  }
.sidebar-nav li:hover .dropdown-container
{
     display: block !important;
}

.innermenu{
    margin-top: 20px;
    padding: 0 1em;
    list-style: none;
    background:  #40364a;
    left: 90px;
    z-index: 1000000000000000000000000000000000000;


}

.innermenu li{
   
    padding: 0px;
    margin:3px 0px 3px 0px;
    color: #aaa;
    font-size:.8em;
    height: 35px;

}


.innermenu li span a
{
    color:#aaa;
        letter-spacing:0.5px;
    

}

.innermenu li:last-child
{
 height: 45px;
}



.innermenu li:hover  .fa-caret-right
{
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:green;
}

.innermenu li:hover span a
{ -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    color:green;
    text-decoration: none;

}

.innermenu li span a{
    position: relative;
    left:-16px;
}
.innermenu li .fa-caret-right{
float:left;

position: relative;
left:-10px;
margin-top:20px;

}

    


/* list1 */
.list1, .list2, .list3, .list4{
position: absolute;
left:70px !important;
top:-21px;
height:100vh;
min-height:100vh;
overflow-y:auto;
display: none;
width: 200px;
font-size: 1em;
}
/* list2 
.sidebar-nav li:hover .list1{
    display: block !important; 


}



.sidebar-nav li:hover .list2{
     display: block !important; 
}

.sidebar-nav li:hover .list3{
 display: block !important; 
}
.sidebar-nav li:hover .list4{
   display: block !important; 
}

*/




#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
}




.logo{

}

.logo > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    padding-left: 20px;
  
}

.logo > .sidebar-brand a {
    color: #fff;
}

.logo > .sidebar-brand a:hover {
    color: #fff;
    background: none;

}

.logo > .sidebar-brand a:hover  .logo > .sidebar-brand a span{
    color: #fff;
    background: none;

  
}





.logo{

    width:250px;
    z-index: 100000000000000000;
    position: fixed;
    top:0px;
    height:50px;
    font-size:1em;
    background-color: #493d55;
    color:white;
   
}

.motto{
color: #999;
text-decoration: none; 
    font-size:0.6em;


}

.motto:hover{

}
.navi{
   display: none;

}

.mp
{
    display: none;
}




/*  Ripple */

.ripple {
    display: none;
}

.rippleEffect {
    display: none;
}

.sidebar-nav > .sidebar-brand {
    display: none;

}



.note1{
    display: none;
}


}
